.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
}

.card:hover {
  border: 1px solid #000;
}

.disabled {
  pointer-events: none;
  cursor: default !important;
}
