.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.team-city {
  font-size: small;
}

.team-name {
  font-size: large;
}

.score {
  font-size: larger;
}
